@media print {
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12pt;
        line-height: 1.4;
        background: #fff;
        color: #000;
    }

    nav {
        display: none;
    }


    .remove {
        display: none;
    }


    footer {
        display: none;
    }
}
